.booking-page{
    padding-top: 70px;
    background-color: rgb(13, 15, 7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}

.package-info{
    margin: 70px;
    border: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    transition: 0.5;
}
.package-info:hover{
    box-shadow: 2px 5px 10px gray;
}

.shipping-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping-form input{
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 350px;
}

.error{
    color: red;
}

@media only screen and (max-width:688px){
    .booking-page{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .package-info{
        margin: 10px;
        width: 90% !important;
    }
}
    @media only screen and (min-width:689px)and(max-width:991px){
        .booking-page{
            grid-template-columns: repeat(1,1fr);
        }
    }