.add-package form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .add-package form input, textarea{
        width: 40%;
        margin-bottom: 10px;
    }