.manage-orders{
    padding-top: 70px;
    background-image: url('/src/images/cover2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh ;
}
.order-div{
display: flex;
align-items: center;
justify-content: center;
}