.activity-section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 5px;
}

@media only screen and (max-width:688px){
    .activity-section{
        grid-template-columns: repeat(1,1fr);
    }
}
    @media only screen and (min-width:689px)and(max-width:991px){
        .activity-section{
            grid-template-columns: repeat(2,1fr);
        }
    }

.offer-section{
    background-image: url('/src/images/cover3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh ;
    padding-top: 70px;
}

.offer-title{
    color:rgb(182, 132, 132);
    font-size: 55px;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.input-field{
    border: 3px solid rgb(223, 164, 57);
    background: transparent;
    padding: 10px 60px;
}
.input-button{
    color: white;
    background-color: goldenrod;
    transition: 0.5s;
    padding: 14px 10px;
}
.title{
    padding: 50px 20px 20px;
       font-size: 60px;
       font-weight: 800;
       font-family: sans-serif;
       color: #0c631a;
}

.activity-div{
    border: 2px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.activity-div:hover{
    box-shadow: 2px 5px 10px gray;
}
@media only screen and (max-width: 600px) {
    .title{
        padding: 10px;
        font-size: 40px;
    }
    }