.activity-section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 5px;
}

@media only screen and (max-width:688px){
    .activity-section{
        grid-template-columns: repeat(1,1fr);
    }
}
    @media only screen and (min-width:689px)and(max-width:991px){
        .activity-section{
            grid-template-columns: repeat(2,1fr);
        }
    }